P1  triple a 
P1  triple b 
P1  triple c 
P2  triple a 
P2  triple b 
P2  triple c 
R1  triple a 
R1  triple b 
R1  triple c 
R2  triple x 
R2  triple y 
S  triple a 
S  triple b 
S  triple c 
I  triple x 
I  triple y 
