extern GroupItem parseScafE(GroupItem rule)
{
GroupItem   into  = rule.rStuff.parentLabel;
GroupItem   label = new("ScafE");
GroupItem   t1 = rule[1];
GroupItem   t2 = rule[2];
GroupItem   t3 = rule[3];
String      from  = atRuleMark;
    return leaveRule(rule,into,label,from, lit(t1,"e") && (parseR(t2,label) || 1) && lit(t3,"f") );
}
extern GroupItem parseScafF(GroupItem rule)
{
GroupItem   into  = rule.rStuff.parentLabel;
GroupItem   label = new("ScafF");
GroupItem   t1 = rule[1];
GroupItem   t2 = rule[2];
GroupItem   t3 = rule[3];
String      from  = atRuleMark;
    return leaveRule(rule,into,label,from, lit(t1,"f") && (lit(t2,",") || 1) && lit(t3,"g") );
}
