extern GroupItem parseScaf(GroupItem into)
{
GroupItem   label = new("Scaf");
GroupItem   rule  = locate("Scaf");
String      from  = atRuleMark;
    return leaveRule(rule,into,label,from, lit(rule,"x") );
}
extern GroupItem parseScaf2(GroupItem into)
{
GroupItem   label = new("Scaf2");
GroupItem   rule  = locate("Scaf2");
String      from  = atRuleMark;
    return leaveRule(rule,into,label,from, lit(rule,"{") && lit(rule,"}") );
}
